/* *********************************
           Variables
  ********************************** */
$navbar-height: 50px;
$big-logo-padding: 15px; // adjust these 2 values
$small-logo-padding: 2px; // of bottom padding to look nice


/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
body {
  margin: 0;
  width: 100%;  
}

.navbar-default .navbar-nav > li > a {
color: black;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #22F;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
border: solid 1px;
color: purple;
}


/* *********************************
           Toolbar Logo
  ********************************** */

.navbar-brand {
    padding-top: $navbar-height;
    height: 70px;
    overflow: hidden;
    position: absolute;
  }

/* *********************************
           Title
  ********************************** */
.title-row {
  background: #72206d;
  padding-bottom: 5px;
 } 
.page-title {
  padding-top: 7px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.23;
  color: #ffffff;
  display: inline;
}
.book-a-tour {
  margin-top: 10px;
  padding: 15px;
  border: 2px solid white;
  float: right;
  display: inline;
}

  
.page-title {
    font-size: 4em;
    margin:0;
    padding-bottom: 10px;

    
    @media (min-width: 400px) { font-size: 4.5em; }
    @media (min-width: 440px) { font-size: 5.5em; }
    @media (min-width: 500px) { font-size: 6.5em; }
    @media (min-width: 630px) { font-size: 7.5em;  }
    @media (min-width: 768px) { font-size: 9em;    }
    @media (min-width: 1200px) { font-size: 12em; }
  }
}
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.explore-container {
  background-image: url("pictures/rectangle-112.png");
  padding-bottom: 20px;
}

.image-space {
  background-image: url("pictures/rectangle-82.png");
  margin: 0;
  background-size:contain;
  background-position:center;
  background-size: 100% 100%;
  height: auto;

}
.image {
  width: 102.3%;
  height: 492px;
  margin: 0;
}

.download-section {
  background-color: #651960;
}

.download-space {
  height: 492px;
 /* width: inherit;*/
}

.download-space ul {
  list-style: none;
  color: white;
}

/*.download-space ul li {
  border-bottom: 1px solid;
}*/

.other-information {
  padding-top: 50px;
  padding-bottom: 30px;
}

.list-title-button {
  display: none;  
}
.list-title-space {
  margin-top: 20px;

}
.list-title-space li {
  list-style: none;
  padding: 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  color: #252525;
}

.list-title-space li a:hover {
  background-color: white;
}

.download-container {
  padding-top: 20px;
}

.list-group-title p{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.list-title-space li p{
    display: inline;
}

/*.download-space-container {
  width: inherit;
}*/

.footer-row {
  padding-top: 10px;
  padding-bottom: 5px;
}
.footer-right {
  float: right;
  padding: 10px;
}

.description-side {
  float: right;
  padding: 30px 30px 30px 0;
}


/*******************************/
/*          TEXT HERE          */
/*******************************/

.text-explore {
  font-family: Baskerville10Pro;
  font-size: 35px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.97;
  color: #ffffff;
}

.text-footer {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.text-sub-title {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.36;
  color: #72206d;
}

.text-description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.88;
  color: #737473;
}
.service-list {
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.94;
  color: #5a5a5a;
}

.text-main-title {
   font-family: Baskerville10Pro;
  font-size: 35px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.4;
  color: #373737;
}

.download-list-title p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.text-other-info-title {
   font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.36;
  color: #737473;
}

.text-other-info-title p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.94;
  color: #737473;
}

.quick-links li {
  list-style: none;
  padding: 5px;
}

.logo p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.94;
  color: #737473;
}


/*************************************/
/*       KEY DOWNLOAD SECTION        */
/*************************************/
.PDFdownload {
  float: left;
}

.download-list {
  width: 60%;
  margin-left: 30px;
  margin-top: 30px;
}

.download-list-title {
  margin: 0px;
  color: white;
  border-bottom: solid 1px rgba(151, 151, 151, .2);
  padding-bottom: 30px;

}

.download-item {
  margin: 10px 0 10px 0;
  width: 100%;
  border-bottom: solid 1px rgba(151, 151, 151, .2);
  padding: 20px 0 20px 0;
}

.download-item p {
  color: white;
  display: inline-block;
  font-size: 12px;
  width: 170px;
  height: 30px;
  margin: 0 30px 0 30px;
  position: relative;
}

.download-item-hidden {
  margin: 10px 0 10px 0;
  width: 100%;
  border-bottom: solid 1px rgba(151, 151, 151, .2);
  padding: 20px 0 20px 0;
  opacity: .2;
}

.download-item-hidden p {
  color: white;
  display: inline-block;
  font-size: 12px;
  width: 170px;
  height: 30px;
  margin: 0 20px 0 20px;
  vertical-align: middle;
}

.down-arrow {
  display: block;
  margin: auto;
  width: 15px;
  height: 9px;
}

/*MEDIA HERE*/
/************************************/
@media screen and (max-width: 900px) {
   .collapse {
       display: none;
   }
}
@media screen and (max-width: 1100){
  .download-section{
    display: none;
  }
}


/*DOWNLOAD SECTION MOBILE AND TABLET*/

.download-section-mobile {
  display: none;
}











